bodyp{
  background-image: url(./wall3.png);
  display:inherit;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
.menu{
  margin-top: 15%;
}

.h5{
margin-left: -12em;
margin-top: 4em;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.titulo{
  margin-top: 0.8%;
  background-color: #570dcede;
  width: 100%;
  height: 2em;
  border-radius: 1em;
  box-shadow: 0.5em 1em 0.5em grey;
}

.contenedorSec{
  display:inherit;
  position:absolute;
  width: 100%;
}

.icono_header{
  float: right;
  margin-right: 6em;
  width: 5%;
  margin-top:-3.6em;
  
  
}
.div_image{
  float:left;
  width: 30%;
  margin-top:-1.3em;
  margin-left: -0.5em;
  position:absolute;
}
.div_image h3{
  float:left;
  margin-top:-2.5em;
  margin-left: 1em;
  color: #fffffff5;
  text-shadow: 0 0 10px #570dcede;
  
}
.div_image h4{
  float: left;
  margin-top:-1.6em;
  margin-left: 4.3em;
  color: #fffffff5;
  text-shadow: 0 0 8px #570dcede;
}
.header h2{
  color: white;
  text-align: center;
  text-shadow: 0 0 35px #570dcede;
}
.header h5{
  color: white;
  margin-left: 15em;
  margin-top: -0.6em;
  Text-shadow: 0 1px 15px #570dcede;
  
}
.panel{
background-color: rgba(0, 116, 110, 0.712);
padding:3%;
height:12%;
max-width:2em;
border-radius: 5%;
box-shadow: 0 0 2em rgba(1, 248, 236, 0.644);
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; 
text-align: center;
margin-left: -1em !important;
clear:both;
  float:left;
  margin-top:3.4em ;
}
.panel  ul li a {
  width: 6%;
  height: 2.5em;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          @media (max-width: 991.98px) {
            .panel a{
            min-width: 0.3em;
            max-width: 0.9em;
            text-align: center;
            margin-left: -0.5em !important; 
            }
            .panel.active {
              margin-left: 1em !important; } }
              a[data-toggle="collapse"] {
                position: relative; }
                
.panel:hover{
  background-color: #00d8cda4;
  padding: 0em 3.4em;
  
}

.panel a:hover,.panel a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  }

.panel ul{
margin-top: 2em;
margin-left: -2.0em;
}
.panel li{
margin: auto;
list-style: none;
margin-top: 0.4em;
}
.imglog{
  width: 2.3em;
  height: 2.3em;
}
.panel a{
  
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  box-shadow: 0 0 2em #570dcede;
  padding: 0.3em 1.2em;
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.822);
}
.panel a:hover{
  padding: 0.5em 2.3em;
}
.panel label{
  display: none;
  color: #000000a4;
  margin-left: -1.62em;
  position: static;
  font-size:0.68em;
  font-family:cursive;
  
}


.h4class {
  margin-left: 22%;
  background-color:  #570dcede;
  width: 8em;
  border-radius: 2em;
}
.h4class h4{
  color:white;
}

/*mover logo animation: App-logo-spin infinite 20s linear;*/
@media (prefers-reduced-motion: no-preference) {
  
  .App-logo1 {
    width: 45%;
    margin-top:-4.5em;
    margin-left: -8em;
    margin-right: 2em;
    
  }
  
  }
  
  

.App-header {
  background-color: #909090;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

