.terminos{
  color: #7600fc;
}
.terminos:hover{
  text-shadow: 2px 2px 4px #ffffff;
}
.ojo {
  position: absolute;
  margin: auto;
  margin-left: 0.6em;
}
.ojo:hover {
  color: #7600fc;
  cursor: pointer;
  
  border-radius: 20em 20em 20em 20em;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;
}

button {
  width: 6em;
  height: 2em;
  margin: 0 auto;
  margin-left: 17em;
}

.contenedorForm{
  height:32em;
}
/*hasta aqui el arreglo del ojo de la contraeña*/
.bodyp{
  background-image: url(./login.jpg);
  
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-composite: border;
  background-attachment: fixed;
  background-color: rgb(rgba(88, 88, 88, 0.767));
  
}



  a{
   text-decoration:none !important;
   }
   h1,h2,h3{
   font-family: 'Kaushan Script', cursive;
   color: rgb(255, 255, 255);
   text-shadow: 2px 2px 4px #570dcede;
   }
    .myform{
      background-color: transparent;
      box-shadow: 0 0 2em rgba(234, 0, 255, 0.918);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; 
      text-align: center;
      margin-left: 1em !important;
      margin-top: 5em !important;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      padding: 1rem;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: rgba(109, 109, 109, 0.603);
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 1.1rem;
      outline: 0;
      max-width: 500px;
}
   .tx-tfm{
   text-transform:uppercase;
   }
   
  
   .login-or {
   position: relative;
   color: #aaa;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
  
   }
   .tx-tfm{
    background-color: rgba(252, 249, 249, 0.644);
    color: rgb(3, 3, 3);
    border-radius: 3em;
    text-align: center;
    padding: 1%;
   }
   .tx-tfm:hover{
    box-shadow: 0 0 1em rgba(234, 0, 255, 0.712);
   }
   .input{
     width: 13em;
     height: 1.3em;
     border-radius: 0.3em;
     margin-left:2.5em;
   }
   .input2{
    width: 13em;
    height: 1.3em;
    border-radius: 0.3em;
    margin-left: 2.5em;
   
  }
  .fecha{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1em;
    font-family: "digital";
    font-weight: bold;
    animation: fecha 40s linear infinite;
  }
  @keyframes fecha {
    0%   { transform: translate(0, 50%); }
    100% { transform: translate(-100%, 0); }
}
.materialtabla{
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0 0 1em rgba(234, 0, 255, 0.712);
}
.barraimbus{
  margin-left: 5%;
  margin-right: 5%;
  
}
.botonimp{
  margin: 1em;
}
   .input:hover{
    width: 13.3em;
    box-shadow: 0 0 1em rgba(234, 0, 255, 0.712);
   }
   .input2:hover{
    width: 13.3em;
    box-shadow: 0 0 1em rgba(234, 0, 255, 0.712);
   }
   .label{
     margin-right:2.7em;
     margin-left:4em;
     text-align: center;
     color:white;
     text-shadow:2px 2px 4px #570dcede;
   }


   .sas{
     background-color: rgba(252, 249, 249, 0.644);
     color: rgb(3, 3, 3);
     border-radius: 4em;
     text-align: center;
     padding: 1%;
   }
   .sas:hover{
    box-shadow: 0 0 1em rgba(234, 0, 255, 0.712);
   }
   .span-or {
   display: block;
   position: absolute;
   left: 50%;
   top: -2px;
   margin-left: -25px;
   background-color: rgba(255, 255, 255, 0.76);
   width: 50px;
   text-align: center;
   color: rgb(0, 0, 0);
   border-radius: 4em;
 
   }
  
   .hr-or {
   height: 1px;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
   }
   .google {
   color:rgb(255, 255, 255);
   width:100%;
   height:40px;
   text-align:center;
   outline:none;
   border: 1px solid rgb(211, 211, 211);
   box-shadow: 0 0 1em rgba(234, 0, 255, 0.712);
   }
    form .error {
   color: #ff0000;
   }
   #second{display:none;}
   .form-control{
   margin-left: 5%;
   margin-top: 4%;

   }
   .form-control:focus{
   box-shadow: 0 0 1em rgba(234, 0, 255, 0.918);
   }
   .mas{
     width: 1em;
     height: 1em;
     text-align: center;
     margin-left: 0.4em;
   }
   .mas:hover{
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    margin-left: 0.4em;
    box-shadow: 0 0 1em rgba(234, 0, 255, 0.918);
    border-radius: 1em;
  }
   .busqueda{
    
    text-align: center;
   }
.inpbusq{
  box-shadow: 0 0 1em rgba(234, 0, 255, 0.918);
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 5%;
    width: 50%;
    border: 1px solid rgb(211, 211, 211);
    border-radius:1em;
    height: 6%;
  text-align: center;
  
}
.inpbusq:focus{
  outline: 0;
  box-shadow: 0 0 1em rgba(17, 204, 117, 0.918);
  height: 15%;
  width: 55%;
  
 }
 .iconoBusqueda{
   
  margin-left: -8%;
  margin-right: 3%;
  margin-bottom: -0.47%;
   
 }
   .busqueda2{
    box-shadow: 0 0 1em rgba(234, 0, 255, 0.918);
    margin-left:20em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    width: 20em;
    border: 1px solid rgb(211, 211, 211);
    border-radius:1em;
    height: 1.5em;
   }
   .aggIc{
     margin-left: 9em;
  
   }
.encabezadofact{
  height: 15em;
}   
   
.ModalCli{
  background-color:#f8f8f8;
  margin-left: 22em;
  margin-top: -27em;
  border-radius: 0.8em;
  Box-shadow: 0 1px 15px #570dcede;
}
.ModalCli.fade{
  background-color: #af151500;
  outline: none;  
  margin-top:-6em;
  width: 30em;
}
.ModalCliFooter{
  text-align: center;
}

   
   .busqueda2:focus{
    outline: 0;
    box-shadow: 0 0 1em rgba(17, 204, 117, 0.918);
    width: 20em;
    height: 1.7em;
   }
   
   .iconoBusqueda2{
    width: 1em 1em 1em 1em;
    margin-left:10em;
    margin-top: 0.5em;
    margin-bottom: -1.6em;
   }
   .iconoreload{
    width: 1em 1em 1em 1em;
    margin-left:13em;
    margin-top: 0.5em;
    margin-bottom: -1.6em;
   
   }
   .imgv{
    width: 4em;
    height: 4em;
    margin: 1em 2em 1em 4em;
    
   }
  
   .Factura{
    display: none;
  }
  .suma{
    display: none;
    color: white;
  }
  
  .botonesfactura{
    margin-top: 2em;
    margin-right: -12em;
    width: 8em;
    margin-bottom: 2em;
    background-color: #24068fe1;
    color: #ffffff;
    font-size: 1em;
  }
  .rowt{
    padding-bottom:2em;
    font-size: 16px;
    padding-left: 2em;
    width: 2em;
    text-align: center;
    
   }
   .rowt2{
    padding-bottom:2em;
    font-size: 16px;
    
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    
   }
   .tablaC{
     display: none;
   }
   .Fact{
width: 150%;
text-align: center;
margin-left: 10em;
background-color: ivory;
   }
   .Fcontenedor{
     margin-top: 2em;
   
    text-align: center;
   
   }
   .calendario{
     width: 200;
    
 
   }
   
   .rowt3{
    padding-bottom:2em;
    font-size: 16px;
    text-align: center;
    padding-left: 2em;
    font-weight: bold;
    width: 2em;
    
   }
   .rowt4{
    padding-bottom:2em;
    font-size: 16px;
    padding-left:-3em;  
    white-space: pre;
    
    
    
   }
   .ch{
    padding-bottom:2em;
    font-size: 16px;
    text-align: center;
    padding-left: 1em;
    width: 2em;
    white-space: pre;
   }
   .ch2{
    padding-bottom:2em;
    font-size: 16px;
    text-align: center;
    padding-left: 2em;
    font-weight: bold;
    width: 2em;
    
  
   }
   
   h4{
    font-family: 'Kaushan Script', cursive;
   font-size: 20px;
   font-weight: bold;
   text-shadow: 2px 2px 4px #570dcede;
   }
.tabla{
     background-color: #f0f0f0;
   }