/*.bodyp{
  background-image: url(./wall3.png);
}*/
/* For mobile phones: */
.appBar{
  margin-top: 4.4em;
  Box-shadow: 0 1px 10px 15px #570dcede;
  
}

.Modal{
  background-color:#d5eeee;
  margin-left: 22em;
  margin-top: 32em;
  border-radius: 0.8em;
  Box-shadow: 0 1px 15px #570dcede;
}
.modal.fade{
  background-color: #af151500;
  outline: none;  
  margin-top:-6em;
  width: 80em;
}
.ModalFooter{
  text-align: center;
}


.Modal2{
  background-color:#f8f8f8;
  margin-left: 22em;
  margin-top: 15em;
  border-radius: 0.8em;
  Box-shadow: 0 1px 15px #570dcede;
}
.modal2.fade{
  background-color: #af151500;
  outline: none;  
  margin-top:-6em;
  width: 30em;
}
.Modal2Footer{
  text-align: center;
}



.contenedorForm{
background-color: #ffffff;
Box-shadow: 0 1px 15px #570dcede;
border-radius: 1em;

margin-left:10em;

}
.contenedorTabla{
 
  Box-shadow: 0 0 8px #570dcede;
  border-radius: 0.8em;
}

 
.titulos{
  margin-bottom: 2em;
  text-align: center;
}
.dialogo{
  background-color: #570dcede;
}

.grid{
  margin-left: 10em;
  margin-right: 6em;

}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}




.div_header:hover{
  background-color: #00d8cda4;
}
.icono_header{
  float: right;
  width: 6%;
  margin-top:-3.6em;
  margin-left: 70%;
  
  
}
.div_image{
  float:left;
  width: 30%;
  margin-top:-1.3em;
  margin-left: -0.5em;
  position:absolute;
}
.div_image h3{
  float:left;
  margin-top:-2.5em;
  margin-left: 1em;
  color: #fffffff5;
  text-shadow: 0 0 10px #570dcede;
  
}
.div_image h4{
  float: left;
  margin-top:-1.6em;
  margin-left: 4.3em;
  color: #fffffff5;
  text-shadow: 0 0 8px #570dcede;
}
.header h2{
  color: white;
  text-align: center;
  text-shadow: 0 0 35px #570dcede;
}
.header h5{
  color: white;
  margin-left: 15em;
  margin-top: -0.6em;
  Text-shadow: 0 1px 15px #570dcede;
  
}
.panel{
background-color: rgba(0, 116, 110, 0.712);
padding:1%;
height:18em;
max-width:1.8em;
border-radius: 5%;
margin-left: 0.1%;
box-shadow: 0 0 2em rgba(1, 248, 236, 0.644);
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; 
text-align: center;
margin-left: -1em !important;
clear:both;
  float:left;
}
.panel  ul li a {
  width: 1em;
  height: 1.4em;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
          @media (max-width: 991.98px) {
            .panel a{
            min-width: 0.3em;
            max-width: 0.9em;
            text-align: center;
            margin-left: -0.5em !important; 
            }
            .panel.active {
              margin-left: 1em !important; } }
              a[data-toggle="collapse"] {
                position: relative; }
                
.panel:hover{
  background-color: #00d8cda4;
  padding: 0.3em 4.2em;
  
}

.panel  a:hover,.panel a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  }

.panel ul{
margin-top: 2em;
margin-left: -2.0em;
}
.panel li{
margin: auto;
list-style: none;
margin-top: 0.4em;
}
.imglog{
  width: 2em;
  height: 2em;
}
.panel a{
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  box-shadow: 0 0 2em #570dcede;
  padding: 0.4em 1em;
  border-radius: 10px;
  background-color: rgba(233, 233, 233, 0.822);
}
.panel label{
  display: none;
  text-align:left;
  margin-left: -0.89em;
  position: static;
  font-size: medium;
  font-family:cursive;
  color: #000000;
}
.h4class {
  margin-left: 22%;
  background-color:  #570dcede;
  width: 6em;
  border-radius: 2em;
}
.h4class h4{
  color:white;
}

/*mover logo animation: App-logo-spin infinite 20s linear;*/
@media (prefers-reduced-motion: no-preference) {
  
  .App-logo1 {
    width: 45%;
    margin-top:-4.5em;
    margin-left: -8em;
    margin-right: 2em;
    
  }
  
  }
  
  

.App-header {
  background-color: #909090;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
